<template name="dropzonePage">
	<div class="jumbotron">
	  <h1>{{name}}</h1>
	  <p>Hi! We are {{name}} and we are located at {{airfield}}.</p>
	  <p>You can find more information about us at <a href={{website}}>{{website}}</a>.</p>
	  {{#if gmapid}}
		  <div class="panel panel-default"> 
						<div class="panel-heading">
					    <h3 class="panel-title">Landing area map</h3>
						</div>
						<div class="panel-body">
						<span class="hidden-xs hidden-sm"><iframe src="https://www.google.com/maps/d/u/0/embed?mid={{gmapid}}" width="640" height="480"></iframe></span>
						<span class="hidden-md hidden-lg"><a href="https://www.google.com/maps/d/u/0/edit?mid={{gmapid}}">See landing area map</a></span>
						</div>
		  </div>
	  {{/if}}
	</div>
	<div class="container">
	  {{#if onePlane}}
	   <h3>Airplane</h3>
	   <p>This is our airplane:</p>
	  <div id="row row-centered">
	  {{#each airplanes}}
	  	<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
		   {{> airplaneItem}}
		</div>
	  {{/each}}
	  </div>
	  {{/if}}

	  {{#if moreThanOnePlane}}
	  <h3>Fleet</h3>
	  	   <p>We have {{countAirplanes}} airplanes on our fleet:</p>
		 <div id="row row-centered">
			  {{#each airplanes}}
			  	<div class="col-md-6 col-sm-12 col-xs-12 col-centered">
				   {{> airplaneItem}}
				</div>
			  {{/each}}
			  </div>
	  {{/if}}
	  <div class="row">
	   <h3>Managers:</h3>
	   {{#each managers}}
	   	 {{role}}: 
	   	 {{> userItem}}
	   {{/each}}
	   </div>

	</div>

</template>