<template name="loadItem">
		    	<div class="panel panel-default">
				  <div class="panel-heading">
					    <span class="pull-right">
							{{#if useronload}}
								<button type="button" class="btn btn-danger" id="cancelJump">Cancel</button>
							{{else}}
							    {{#if closed}}
							      <button type="button" class="btn btn-default" disabled="disabled">{{status}}</button>
							    {{else}}
							      {{#if freeslots}}
							      	{{#if lightenough}}
							      		<button type="button"  id="addJump-{{_id}}" class="addJump btn btn-success">{{status}}</button>
							      	{{else}}
							      		<button type="button" class="btn btn-success" disabled="disabled">{{status}}, but you are too fat</button>
							      	{{/if}}
							      {{else}}
							      <button type="button" class="btn btn-default" disabled="disabled">{{status}}</button>
							      {{/if}}
							    {{/if}}
						    {{/if}}
						</span>
				    <h3 class="panel-title"><a href="{{pathFor 'airplanePage'}}">     
					    Load {{loadnumber}} ({{airplane.registration}} / {{airplane.make}} {{airplane.model}})</a></h3>
					    Still can carry {{kilosleft}} kg more
				  </div>

				  <div class="panel-heading" id="jumpdetails-{{_id}}" style="display: none;">
				  		<form>
								New jump: <select id="type-{{_id}}">
								  <option></option>
								  <option value="Free">Free</option>
								  <option value="FS">FS</option>
								  <option value="CP">CP</option>
								  <option value="CF">CF</option>
								</select>
								<select id="altitude-{{_id}}">
								  <option></option>
								  <option value="1000">1000m</option>
								  <option value="2000">2000m</option>
								  <option value="3000">3000m</option>
								  <option value="4000">4000m</option>
								</select>
								<button type="button" class="btn btn-success pull-right" id="confirmJump">Manifest</button>
						</form>
				  </div>
				  <div class="panel-body">
 						<img src="/img/pinnikey_onlypin.png?n" alt="{{registration}} {{make}} {{model}} image" align=right width=50 class="airplanelist-img">
					    {{#if jumpers.length}} 
					    	{{jumpers.length}} skydivers on board:
					    {{else}}
					    	Empty load 
 					   	{{/if}}<br>
					    {{#each jumpers}}
					     {{jumper.profile.firstName}} {{jumper.profile.lastName}}: {{type}} @ {{altitude}} <br>
					    {{/each}}
					    				  </div>
				</div>
</template>