<template name="newManifest">
	{{#if currentdz}}
		<div class="page-header">
		  <h1>Manifest for jump<br><small>at {{currentdz}}</small></h1>
		</div>
		{{#each airplanes}}
			<div class="col-xs-12 col-md-6">
			<h3>{{registration}} ({{make}}  {{model}})</h3>
				<button type="button" class="btn btn-default" id="addNewLoad">Add new load {{registration}} ({{make}}
				  {{model}})</button>
				  		<br><br>
				  	Open loads
						{{#each openloads _id}}
							  	{{> loadItem}}
						{{/each}}
				  	Closed loads
						{{#each closedloads}}
					  		{{> loadItem}}
						{{/each}}
			</div>
		{{/each}}
		<hr>
		<div class="row">

		</div>
	{{else}}
		Please set your email, current dz and your weight first (add these at your profile edit).
	{{/if}}
</template>