<head>
  <meta charset="utf-8">
  <title>Pinnikey</title>
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->
  <meta property="og:image" content="/ico/appicon-72@2x.png"/>
  <!-- <meta property="og:title" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/> -->
  <meta property="og:type" content="website"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
   <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="/ico/appicon-Small.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/appicon-72@2x.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/appicon@2x.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/appicon-72.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/appicon.png">
  <link rel="apple-touch-startup-image" href="/ico/iTunesConnect.png" />
</head>

<template name="layout">
  <style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  </style>
  <body>
    <div class="container">
    {{> navbar}}
    <div id="notifications" class="row-fluid">
      {{> flashMessages}}
    </div>
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
    </div>
 </body>
 </template>
