<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Pinnikey" height=20 src="/img/pinnikey_onlypin.png"> BETA</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

{{#if currentUser}}
        <li>
          <a href="{{pathFor 'newManifest'}}" role="button" aria-expanded="false">Manifest</a>
        </li>
        <li>
          <a href="{{pathFor 'logBook'}}">My logbook</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gear<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {{#each rigs}}
                <li><a href="{{pathFor 'rigPage'}}">{{make}} ({{model}})</a></li>
            {{/each}}
            <li class="divider"></li>
            <li><a href="{{pathFor 'newRig'}}">Add rig</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropzones<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{pathFor 'dropzonesList'}}">All dropzones</a></li>
            <li class="divider"></li>
            {{#each dropzones}}
                <li><a href="{{pathFor 'dropzonePage'}}">{{name}} ({{airfield}})</a></li>
            {{/each}}
            <li class="divider"></li>
            <li><a href="{{pathFor 'newDropzone'}}">Add your own DZ</a></li>
          </ul>
         </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Airplanes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{pathFor 'airplanesList'}}">All airplanes</a></li>
            <li class="divider"></li>
            {{#each airplanes}}
                <li><a href="{{pathFor 'airplanePage'}}">{{registration}} ({{make}} {{model}})</a></li>
            {{/each}}
    {{#if isInRole 'admin'}}
                <li class="divider"></li>
                <li><a href="{{pathFor 'newAirplane'}}">Add your airplane</a></li>
    {{/if}}
          </ul>
         </li>
{{/if}}
        

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
          </ul>
          </div><!--/.navbar-collapse -->
    </div>
  </nav>

</template>