<template name="logBook">
	<div class="page-header">
	  <h1>Logbook <small>My skydives</small></h1>
	  <button class="btn btn-default btn-block btn-success" id="newJump">New jump</button>
	  <button class="btn btn-default btn-block btn-default" id="importJumps">Import CSV</button>
	</div>
	<div class="row row-eq-height">
		    {{#each jumps}}
		    <div class="col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">#{{jumpnumber}} <small>{{prettifyDate dateofjump}} <i class="fa fa-location-arrow"></i> {{location}}</small></h3>
				  </div>
				  <div class="panel-body">
				    <i class="fa fa-cloud-download"></i> : {{altitude}} m |
						    <i class="fa fa-clock-o"></i> : {{freefallTime}} sec |
						    <i class="fa fa-dashboard"></i> : {{openingAltitude}} m<br>
						    <i class="fa fa-cog"></i> : {{rig}} |   
						    <i class="fa fa-plane"></i>: {{aircraft}}<br>
						    <!-- {{description}} -->

				  </div>
				</div>
			</div>

		    {{/each}}
    </div>
</template>