<template name="airplanePage">

<div class="jumbotron">
  <h1>{{registration}} <small>{{make}} {{model}}</small></h1>
  <p>I am a airplane!<br>I go with my friends to skies! They do not trust me so they wear parachutes.</p>
  <p>I usually fly at _dropzonename_.</p>
</div>

</template>