<template name="airplanesList">
	<div class="page-header">
	  <h1>Airplanes</h1>
	</div>
	
	<div class="row-fluid">
		    {{#each airplanes}}
		    <div class="col-md-4 col-sm-6 col-xs-12">
		    	<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><a href="{{pathFor 'airplanePage'}}">     
					    {{registration}} ({{make}} {{model}})</a></h3>
				  </div>
				  <div class="panel-body">
 						<img src="/img/pinnikey_onlypin.png?n" alt="{{registration}} {{make}} {{model}} image" align=right width=50 class="airplanelist-img">
					     MTOW: {{mtow}} kg, {{maxjumpers}} skydivers<br>

						 					
						
						<br>
					    <i class="fa fa-edit"></i> <a href="{{pathFor 'editAirplane'}}">Edit airplane</a>
				  </div>
				</div>
			</div>
		    {{/each}}
    </div>
</template>